/* Discussion
-------------------------------------------------- */

.branch-status-wrapper { margin: 0 -1px -1px; }

.discussion-topic .branch-status {
  border-width: 1px;
  border-radius: 0 0 3px 3px;
}

.comment-header {
  border: 1px solid;
  border-radius: 3px 3px 0 0;
}

.comment-header a { color: #aaa; }

.comment-header .comment-header-date { color: #aaa; }

.comment-content {
  background: #fff;
  border: 1px solid;
  border-top-width: 0;
  border-radius: 0 0 3px 3px;
}

.timeline-comment .comment-content { border: none; }

.bubble { padding: 0; }

.discussion-topic-header {
  border: 1px solid;
  border-bottom-width: 0;
  border-radius: 3px 3px 0 0;
}

.discusion-topic-infobar { border-width: 1px; }

.discussion-bubble-inner,
.previewable-comment-form .comment { border: none; }

.discussion-bubble .discussion-bubble-content::before { display: none; }

.discussion-reference .comment-header,
.discussion-commit-list .comment-header,
.repo-collab-comment .comment-header { background: #f0f6f8; }

.previewable-comment-form .tabnav,
.previewable-comment-form .write-content,
.previewable-comment-form .preview-content { padding: 0; }

.timeline-comment .previewable-comment-form .write-content,
.timeline-comment .previewable-comment-form .preview-content { padding: 0 10px 10px; }

.closed-banner {
  background: none;
  border-radius: 0;
  border-top: 7px double #e5e5e5;
}

.new-discussion-timeline .closed-banner {
  background: #f3f3f3;
  border-top: none;
}

.inline-comments .comment { border: none; }

.inline-comments .inline-comment-form {
  margin: 0;
  padding: 10px;
  background: none;
}

.inline-comments .inline-comment-form .tabnav-tab.selected { background: #f9f9f9; }

.inline-comments .form-actions { padding: 10px 0 0; }

.comment-header .comment-header-tag { text-shadow: none; }

.merge-pr .push-more { margin: 0; }

.new-discussion-timeline .merge-pr .push-more { margin: 10px 0; }

.action-bubble .state-indicator { width: 75px; }

.action-bubble .bubble { padding: 3px; }

.bubble .comment + .comment {
  position: relative;
  border: none;
}

.bubble .comment + .comment .comment-header {
  border-top: none;
  border-radius: 0;
}

/* Nasty hack for preceding border-bottom-radius */

.bubble .comment + .comment::before,
.bubble .comment + .comment::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  top: -5px;
  background: #fff;
  border: 0 solid #e5e5e5;
  border-bottom-width: 1px;
}

.bubble .comment + .comment::before {
  left: 0;
  border-left-width: 1px;
}

.bubble .comment + .comment::after {
  right: 0;
  border-right-width: 1px;
}