/* Header
-------------------------------------------------- */

.header-logged-in { text-shadow: none; }

.command-bar:not(.command-bar-focus) input[type="text"] { box-shadow: none; }

.header-nav:not(.user-nav) .header-nav-link {
  font-weight: 400;
  color: #999;
}
.header-nav:not(.user-nav) .header-nav-link:hover,
.header-nav:not(.user-nav) .header-nav-link:focus {
  color: #4183c4;
}