/* Miscellaneous
-------------------------------------------------- */

/* Remove the bottom border of the navigation tabs you see on your dashboard */
.dashboard-tabs { border-bottom: 0; }

/* Background for a couple of elements */
.comment-header,
.repo-owner-comment .comment-header,
.box-header,
.dashboard-tabs,
#readme span.name,
.boxed-group > h3,
.boxed-group .heading,
#files .file .meta,
.file-box .meta,
.select-menu-header,
.accordion .section a.section-head { background: #f5f5f5; }

/* Subtle border for a LOT of elements */
.comment-header,
.comment-content,
.button,
.minibutton,
.discussion-topic-header,
.box-header,
.box-body,
#readme span.name,
#readme .markdown-body,
#readme .plain,
.dashboard-tabs,
.drag-and-drop,
.box-action,
.notifications .confirmation + .list-group-item,
#files .file,
.file-box,
.boxed-group > h3,
.boxed-group .heading,
.boxed-group .boxed-group-inner,
.tmp-reusable-bubble .bubble-inner,
#files .file .meta,
.file-box .meta,
.tabnav,
.tabnav-tab.selected,
.merge-pr,
.capped-box,
.select-menu-header,
#gollum-editor-function-bar { border-color: #e5e5e5; }

/* Inputs/textareas */
input[type="text"],
#adv_code_search .search-page-label,
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
  border-color: #e5e5e5;
  box-shadow: none;
}

.boxed-group {
  background: none;
  padding: 0;
  border-radius: 0;
}

#files .image,
.file-box .image { background: #f8f8ff; }

#files .file,
.file-box { border-radius: 3px; }

.boxed-group > h3,
.boxed-group .heading { border-radius: 3px 3px 0 0; }

.boxed-group .boxed-group-inner {
  overflow: hidden;
  border-radius: 0 0 3px 3px;
}

div.composer .contributing {
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}

div.composer .composer-infobar {
  margin: 0;
  border: 1px solid #e5e5e5;
  border-top-width: 0;
}

div.composer .tabnav {
  margin-right: -10px;
  margin-left: -10px;
  padding: 0 10px;
}

div.composer .comment-content { padding: 10px; }

div.preview-content .comment-content {
  padding: 0;
  border: none;
}

.previewable-comment-form.preview-selected .preview-content .comment-content .comment-body {
  border: 1px solid #e5e5e5;
  border-top-width: 0;
  border-radius: 0 0 3px 3px;
}

.write-content .enable-fullscreen { right: 6px; }

.comparison-discussion-starter .discussion-topic-header,
.comparison-discussion-starter div.composer .comment-content { border: none; }

table.commits-condensed { width: 100%; }

.select-menu-modal { box-shadow: 0 3px 12px rgba(0, 0, 0, .15); }

.auth-form-header,
.boxed-group.dangerzone > h3 {
  border: none;
  text-shadow: none;
}

.auth-form-header {
  padding: 14px;
  background: #6c8393;
}

.auth-form-header h1 { line-height: 1; }

.auth-form-header .octicon {
  top: 14px;
  right: 14px;
}

.boxed-group.dangerzone > h3 {
  padding: 11px 11px 12px 11px;
  background: #df3e3e;
}

#pages-composer {
  padding: 0;
  background: none;
}

#pages-composer .body {
  border-radius: 3px;
  background: none;
}

#gollum-editor { background: none; }

#gollum-editor-function-bar #load-readme { margin-top: 0; }

#gollum-editor-function-bar .minibutton {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#pages-composer input:focus,
#pages-composer #gollum-editor-body:focus { border-color: #51a7e8; }


